{block content}
<h2 class="text-danger">Vložení nového díla</h2>

{import '../components/form.latte'}
{include bootstrap4-form itemForm}
{/block}

{block scripts}
{include parent}
{/block}


{block head}
{/block}
